{% extends "layout_results.html" %}
{% block body_results %}
  <div class="row justify-content-center">
        <div class="col-12 col-lg-11 pe-lg-0 ps-lg-5">
          <img src="{{url_for('static', filename='imdb-logo.webp')}}"
               id="logo-img"
               class="rounded mx-auto mt-1 pb-3 d-block img-fluid"
               alt="IMDB TOP 250 MOVIES"
               style="width:auto;height:90px;">
          <h4 class="card-title text-center">IMDB TOP 250 MOVIES</h4>
        </div>
  </div>
  <hr class="my-4"/>
  <table id="scraped-table" class="display compact cell-border text-dark fw-bold" style="width: 100%">
    <thead>
      <tr>
        <th>rank</th>
        <th>movie</th>
        <th>year</th>
        <th>genres</th>
        <th>rating</th>
        <th>reviews</th>
      </tr>
    </thead>
    <tbody>
      {% for row in row_data %}
        <tr>
          <td class="text-center">{{row[0]}}</td>
          <td>{{ row[1] | safe }}</td>
          <td class="text-center">{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td class="text-center">{{row[4]}}</td>
          <td class="text-center">{{row[5]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr class="my-4"/>
  
  <script>
    $(document).ready(function () {
      var currentDate = new Date().toLocaleDateString();
      var img = document.getElementById('logo-img');
      var canvas = document.createElement('canvas');
      var ctx = canvas.getContext('2d');
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
      var imgData = canvas.toDataURL('image/png');
        $('#scraped-table').DataTable( {
          responsive: true,
          layout: {
            topStart: {
              buttons: [
                {
                  extend: 'copy',
                  text: '<i class="bi bi-clipboard-check"></i>',
                  titleAttr: 'Copy'
                },
                {
                  extend: 'csv',
                  text: '<i class="bi bi-filetype-csv"></i>',
                  titleAttr: 'CSV',
                  title: 'IMDB Top 250 Movies ' + currentDate
                },
                {
                  extend: 'excel',
                  text: '<i class="bi bi-filetype-xlsx"></i>',
                  titleAttr: 'Excel',
                  title: 'IMDB Top 250 Movies ' + currentDate
                },
                {
                  extend: 'pdf',
                  customize: function (doc) {
                        doc.content.unshift({
                                alignment: 'center',
                                image: imgData,
                                height: 90,
                                width: 150
                            });
                    },
                  text: '<i class="bi bi-filetype-pdf"></i>',
                  titleAttr: 'PDF',
                  title: 'IMDB Top 250 Movies ' + currentDate
                },
                {
                  text: '<i class="bi bi-house-door"></i>',
                  titleAttr: 'Back',
                  action: function() {
                    window.location.href = '/';
                  }
                }
                ]
              }
            }
          });
    });
  </script>
{% endblock %}


